@font-face {
  font-family: Lexend;
  src: url(/assets/fonts/lexend.woff2) format("woff2");
  font-display: swap;
}

:root {
  --font-lexend: Lexend;
  --font-inter: Inter;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss/base"; */
/* @import "./prism.css"; */
/* @import "tailwindcss/components"; */
/* @import "tailwindcss/utilities"; */

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }
}
